<main class="main-content">
  <aside class="sidebar">
    <a href="/">
      <img src="/assets/logo.png" alt="Logo Igreja Presbiteriana Litorânea" id="logo-img" />
    </a>
    <header class="header-top">
      <nav id="links">
        <a href="/">HOME</a>
        <a href="liturgias">LITURGIAS</a>
        <a href="hinos">HINOS</a>
        <a href="boletins">BOLETINS</a>
      </nav>

      <nav id="social-medias">
        <a href="/sobre" id="sobre">Sobre</a>
        <a href="https://w.app/mpsdie"><i class="fa-brands fa-whatsapp"></i></a>
        <a
          href="https://www.instagram.com/ip_litoranea?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.facebook.com/netoaldenor.pacifico?locale=pt_BR"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="https://open.spotify.com/show/4AtYvCTb0GZOOBmYUode2q?si=042c9fd67618419f"
          ><i class="fa-brands fa-spotify"></i
        ></a>
        <a href="https://www.youtube.com/@ip_litoranea"><i class="fa-brands fa-youtube"></i></a>
      </nav>
    </header>
  </aside>
</main>
